/*--------GLOBAL STYLES--------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    color: #333;
    max-width: 1824px;
}

a{
    text-decoration: none;
}

.btn {
    background-color: #333;
    padding: 15px;
    display: block;
    color:white;
    display: inline-block;
}

.hide{
    display: none;
}


/*--------HEADER--------*/
nav{
    padding: 15px;
    width: 100%;
    top: 0%;
    background-color:white;
    z-index: 2;
}

.nav-container{
    width: 90vw;
    max-width: 1200px;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 1.7rem;
    font-weight: 800;
}


/*-------- START OF HERO SECTION --------*/
.hero{
    margin-top:70px;
    margin-bottom: 100px;
}

.hero-container{
    width: 90vw;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-name{
    font-size: 5rem;
    font-weight: 800;
}

.hero-bio-intro{
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 20px;
}

.contact-me-btn{
    padding: 20px 25px;
    font-size: 1.3rem;
    background-color: #f8049c;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
    border-radius: 50px;
}

.contact-me-btn:hover{
    background-color: #fdd54f;
    box-shadow: 0 14px 28px rgba(160, 157, 157, 0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.view-portfolio-btn{
    border: 2px solid #f8049c;
    background-color: white;
    padding: 20px 25px;
    font-size: 1.3rem;
    color: #f8049c;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
}

.view-portfolio-btn:hover{
    border: 2px solid #fdd54f;
    color: #fdd54f;
    box-shadow: 0 14px 28px rgba(160, 157, 157, 0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hero-portfolio-img-wrap{
    display: flex;
}

.portfolio-img{
    width: 350px;
    z-index: 1;
    border-radius: 40%;
}

.portfolio-img-bg{
    width: 250px;
    height: 260px;
    background-color: #f765cd;
    margin:-40px 0px 0px -200px;
}

/*--------PORTFOLIO SECTION STYLES--------*/
.portfolio-section-divide{
    margin-bottom: 80px;
}

.portfolio-container{
    width: 90vw;
    max-width: 1200px;
    margin: auto;
}

.project-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.portfolio-section-heading{
    font-size: 1.4rem;
    color: #61585f;
}

/*-- Styles for Each Project In Portfolio--*/
.project-title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.project-info{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.project-skills-used-wrapper{
    margin-top: 14px;
    color:#5f5f5f;
    margin-bottom: 10px;
    text-align: center;
}

.project-skills-used-heading{
    font-size: 1.2rem;
    margin-bottom: 2px;
    color:#5f5f5f;
}

.skills-used p{
    color:#5f5f5f;
}

.project-btns-wrap{
    display: flex;
    justify-content: center;
}

.project-btn{
    padding: 9px 15px;
    color:#e26e95;
    border: solid 1px #e26e95 ;
    background-color: transparent;
    margin: 3px 20px;
    font-size: 1.2;
    box-shadow: 0 1px 3px rgba(179, 178, 178, 0.12), 0 1px 2px rgba(121, 118, 118, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-btn:hover{
    box-shadow: 0 14px 28px rgba(173, 173, 173, 0.25), 0 10px 10px rgba(141, 141, 141, 0.22);
}

.project-thumbnail-img.sca-shopify-thumbnail{
    width: 330px;
}

/*-- Specific Styles for Project 1 --*/
.project-thumbnail-img.tasty-eatings-thumbnail{
    width: 550px;
}

@media only screen and (max-width: 991px) {
    .hero-name{
        font-size: 3.4rem;
        font-weight: 800;
        margin-bottom: 10px;
    }
    
    .hero-bio-intro{
        font-size: 1.3rem;
        line-height: 27px;
    }

    .hero-view-portfolio-btn{
        padding-top: 17px;
        padding-bottom: 17px;
    }
}

@media only screen and (max-width: 767px) {
    .hero{
        margin-bottom: 170px;
    }    

    .hero-bio-intro{
        font-size: 1.35em;
        line-height: 24px;
        margin-right: 10px;
    }

    .portfolio-img{
        width: 200px;
        height: 220px;
    }

    .portfolio-img-bg{
        width: 200px;
        height: 220px;
        margin:-15px 0px 0px -180px;
    }    

    .hero-view-portfolio-btn{
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 1.1rem;
    }

    .project-wrap{
        display: flex;
        flex-direction: column;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .project-thumbnail-img.sca-shopify-thumbnail{
        width: 280px;
    }

    .project-info-content.mobile{
        text-align: center;
    }

    .project-btn{
        margin-top: 10px;
    }
    

@media only screen and (max-width: 649px) {
    .hero-name{
        font-size: 2.8rem;
    }

    .hero-bio-intro{
        font-size: 1rem;
    }

    .hero-view-portfolio-btn{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .portfolio-img{
        width: 180px;
        height: 200px;
    }

    .portfolio-img-bg{
        width: 180px;
        height: 200px;
        margin:-13px 0px 0px -168px;
    }

@media only screen and (max-width: 500px) {
    .hero-name{
        font-size: 2.8rem;
    }

    .hero-bio-intro{
        font-size: 1rem;
    }

    .hero-portfolio-img-wrap{
        display: none;
    }       

    .project-thumbnail-img.sca-shopify-thumbnail{
        width: 260px;
    }

    .project-title{
        font-size: 1.5rem;
    }

    .project-info{
        font-size: 1rem;
    }

    .project-skills-used-heading{
        font-size: 1rem;
        margin-bottom: 6px;
    }

    .skills-used{
        font-size: .8rem;
    }
    
    .project-btn{
        padding: 6px 8px;
        font-size: .8rem;
        margin-right: 5px;

    }
    
    .project-btn:hover{

        font-size: .9rem;
    }
    
    .project-thumbnail-img.sca-shopify-thumbnail{
        width: 330px;
    }  
}